<ion-view title="feedback page">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <form name ="addfeedback" class="list" novalidate>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Feedback </span>
                    <input name = "fdbk" type="text" ng-model="data.feedback" required>
                </label>

            </ion-list>

            <div class="padding">
                <p ng-show="addfeedback.fdbk.$error.required">* Feedback field is required</p>

            </div>
            <button ng-disabled="addfeedback.$invalid" ng-click="addfeedbk(data)" class="button button-stable button-block button-positive ">Submit </button>


        </form>
    </ion-content>
</ion-view>