<ion-view title="appointment page">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <form name ="appadding" class="list" novalidate>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Appointment Name</span>
                    <input type="text" name ="apname" ng-model="data.appname" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Location</span>
                    <input type="text" name="aloc" placeholder="" ng-model="data.apploc" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Description</span>
                    <input type="text" name="ades" placeholder="" ng-model="data.appdes" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">date</span>
                    <input type="date" name="adat" min="{{date | date:'yyyy-MM-dd'}}" placeholder="" ng-model="data.appdate" required>
                </label>

                <label class="item item-input">
                    <span class="input-label">start time</span>
                    <input type="time" name="astrttime" placeholder="" ng-model="data.appsrttime" required>
                </label>
            </ion-list>

            <label class="item item-input">
                <span class="input-label">end time</span>
                <input type="time" name="aendtim" placeholder="" ng-model="data.appendtime" required>
            </label>
            <div class="padding">
                <p ng-show="appadding.apname.$error.required">* Appointment Name is required</p>
                <p ng-show="appadding.aloc.$error.required">* Location is required</p>
                <p ng-show="appadding.ades.$error.required">* Description is required</p>
                <p ng-show="appadding.adat.$error.required">* Date is required</p>
                <p ng-show="appadding.astrttime.$error.required">* Start time is required</p>
                <p ng-show="appadding.aendtim.$error.required">* End time is required</p>

            </div>

            <button ng-show="DisplayAdd" ng-disabled="appadding.$invalid" ng-click="createappointment(data)" class="button button-stable button-block button-positive">Add Appointment </button>
            <button ng-show="DisplayUpdate" ng-disabled="appadding.$invalid"  ng-click="updateappointment(data)" class="button button-stable button-block button-positive">Update Appointment </button>
        </form>
    </ion-content>
</ion-view>