<ion-view title="appointmentview page">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <div class="button-bar">
            <a href="#/pageappointmenthandeling" class="button button-stable button-block button-dark "> Make Appointment</a>
        </div>

        <div class="list">

            <div ng-repeat="eventname in appNames track by $index" class="item item-button-right">
                <h2>{{eventname.Name}}</h2>
                <p> {{eventname.Date}}</p>
                <div class="buttons">
                    <button ng-click="delete(eventname.ID)" class="button button-assertive">
                        <i class="ion-trash-a"></i>
                    </button>
                    <a href="#/pageappointmenthandeling{{eventname.ID}}"><button class="button button-positive">
                        <i class="icon icon ion-edit"></i>
                    </button></a>
                </div>
            </div>



        </div>

    </ion-content>
</ion-view>