<ion-view title="contactus page">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <form name ="contactusform" class="list" novalidate>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label"> Name</span>
                    <input type="text" name ="cnam" ng-model="data.cname" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" name="cemail" placeholder="" ng-model="data.cemail" required >
                </label>
                <label class="item item-input">
                    <span class="input-label">Subject</span>
                    <input type="text" name="csub" placeholder="" ng-model="data.csubject" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Message</span>
                    <input type="text" name="cmsg" placeholder="" ng-model="data.cmsg" required>
                </label>


            </ion-list>

            <div class="padding">
                <p ng-show="contactusform.cnam.$error.required">* Name is required</p>
                <p ng-show="contactusform.cemail.$error.required">* Email is required</p>


                <p ng-show="contactusform.cemail.$invalid && !contactusform.cemail.$pristine">* Email should be a valid email address</p>

                <p ng-show="contactusform.csub.$error.required">* Subject is required</p>
                <p ng-show="contactusform.cmsg.$error.required">* Message is required</p>


            </div>

            <button ng-disabled="contactusform.$invalid" ng-click="sendcontactform(data)" class="button button-stable button-block button-positive"> Send </button>

        </form>
    </ion-content>
</ion-view>