<ion-view title="events page">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <form name ="eadding" class="list" novalidate>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Event Name</span>
                    <input type="text" name ="ename" ng-model="data.eventname" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Location</span>
                    <input type="text" name ="eloc" placeholder="" ng-model="data.eventloc" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">date</span>
                    <input type="date" name ="edat"  min="{{date | date:'yyyy-MM-dd'}}"  placeholder="" ng-model="data.eventdate" required >

                </label>
                <label class="item item-input">
                    <span class="input-label">start time</span>
                    <input type="time" name ="estrttime" placeholder="" ng-model="data.eventsrttime" required>
                </label>
            </ion-list>
            <label class="item item-input">
                <span class="input-label">end time</span>
                <input type="time"  name ="eendtim" placeholder="" ng-model="data.eventendtime" required>
            </label>
            <div class="padding">
                <p ng-show="eadding.ename.$error.required">* Event Name is required</p>
                <p ng-show="eadding.eloc.$error.required">* Location is required</p>

                <p ng-show="eadding.edat.$error.required">* Date is required</p>
                <p ng-show="eadding.estrttime.$error.required">* Start time is required</p>
                <p ng-show="eadding.eendtim.$error.required">* End time is required</p>

            </div>

            <button ng-show="DisplayAdd"  ng-disabled="eadding.$invalid" ng-click="createevent(data)" class="button button-stable button-block button-positive ">Add Event </button>


            <button ng-show="DisplayUpdate" ng-disabled="eadding.$invalid"  ng-click="updateevent(data)" class="button button-stable button-block button-positive">Update Event </button>

        </form>
    </ion-content>
</ion-view>