<ion-view title="eventsview page">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <div class="button-bar">
            <a href="#/page14" class="button button-stable button-block  button-dark ">Add an Event </a>
        </div>

        <div class="list">

            <div ng-repeat="e in eventNames track by $index" class="item item-button-right">
                <h2>{{e.Name}}</h2>
                <p> {{e.Date}}</p>
                <div class="buttons">
                    <button ng-click="delete(e.ID)" class="button button-assertive">
                        <i class="ion-trash-a"></i>
                    </button>
                    <a href="#/page14{{e.ID}}"><button class="button button-positive">
                        <i class="icon icon ion-edit"></i>
                    </button></a>
                </div>
            </div>



        </div>

    </ion-content>
</ion-view>