<ion-view title="feedbackview page">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <div class="button-bar">
            <a href="#/pageaddfeedback" class="button button-stable button-block button-dark">Submit Feedback</a>
        </div>
        <div class="list">

            <div ng-repeat="feedback in fedbak track by $index" class="item item-button-right">
                <h2>{{feedback.Feedback}}</h2>

            </div>



        </div>

    </ion-content>
</ion-view>