<ion-view title="Signup">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="data.name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="" ng-model="data.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="data.password">
                </label>
                <label class="item item-input">
                    <span class="input-label">Phone</span>
                    <input type="number" placeholder="" ng-model="data.phone">
                </label>
            </ion-list>
            <label class="item item-input">
                <span class="input-label">Address</span>
                <input type="text" placeholder="" ng-model="data.address">
            </label>
            <label class="item item-input">
                <span class="input-label">Pincode</span>
                <input type="number" placeholder="" ng-model="data.pincode">
            </label>
            <button ng-click="signup(data)" class="button button-stable button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>