<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <style>
      .angular-google-map-container {
          width: 100%;
          height: 504px;
      }
    </style>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>

      <script src="js/moment.js"></script>
      <script src="lib/ngCordova/dist/ng-cordova.js"></script>
      <script src="cordova.js"></script>
    <link href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
	


  </head>
  <body ng-app="app" animation="slide-left-right-ios7">
  <div>
    <div>
	

        <ion-nav-bar class="bar-positive" >
		
            <ion-nav-back-button   side="left" class="button-icon icon ion-arrow-left-c" ></ion-nav-back-button>
			
			
			<ion-nav-buttons side="right"   >			
				<div ng-controller="indexCtrl">
					<a href="#/page1" class="button  button-icon ion-android-home"></a>
					<a href="#/page4" class="button  button-icon ion-android-person"></a>
					<a  href="#/page2" class="button  button-icon ion-android-cart" > {{total}} </a>
                    <a  href="#/page14" class="button  button-icon ion-android-calendar" >  </a>

				</div>
			</ion-nav-buttons>
				
        </ion-nav-bar>
		

		
        <ion-nav-view></ion-nav-view>
    </div>
</div>
  </body>
</html>
